In [22]:
import pandas as pd
from pathlib import Path

file_path = Path("clean.xlsx")

if not file_path.exists():
    raise FileNotFoundError(f"{file_path} not found in current directory: {Path.cwd()}")

xls = pd.ExcelFile(file_path)
print("Sheets found:", xls.sheet_names)

for sheet in xls.sheet_names:
    df = xls.parse(sheet_name=sheet, nrows=0)  # read only header row to get columns
    cols = list(df.columns)
    print(f"Sheet: {sheet} — {len(cols)} columns")

Sheets found: ['MajorCountry', 'byAge', 'byEduc', 'bySex', 'byCivStat', 'byOccu', 'all countries', 'REGION']
Sheet: MajorCountry — 12 columns
Sheet: byAge — 43 columns
Sheet: byEduc — 36 columns
Sheet: bySex — 3 columns
Sheet: byCivStat — 7 columns
Sheet: byOccu — 43 columns
Sheet: all countries — 44 columns
Sheet: REGION — 36 columns

In [23]:
import pandas as pd
from pathlib import Path

file_path = Path("2.xlsx")

if not file_path.exists():
    raise FileNotFoundError(f"{file_path} not found in directory: {Path.cwd()}")

xls = pd.ExcelFile(file_path)

# -----------------------------
# Helper to melt + align schema
# -----------------------------
def melt_sheet(df, id_col, value_col_name, additional_col_name=None):
    """Melt a sheet from wide to long"""
    long_df = df.melt(
        id_vars=[id_col],
        var_name="year",
        value_name=value_col_name
    ).rename(columns={id_col: additional_col_name if additional_col_name else "category"})
    
    # Extract numeric year
    long_df["year"] = long_df["year"].astype(str).str.extract(r"(\d{4})")
    long_df["year"] = long_df["year"].astype(float).astype("Int64")
    
    return long_df


# -----------------------------
# 1. ALL COUNTRIES
# -----------------------------
df_country = xls.parse("all countries").drop(columns=["Unnamed: 1"], errors="ignore")
countries_long = melt_sheet(df_country, "COUNTRY", "value", "country")

# -----------------------------
# 2. BY AGE
# -----------------------------
df_age = xls.parse("byAge")
age_long = melt_sheet(df_age, "AGE GROUP", "value", "age_group")

# -----------------------------
# 3. BY EDUCATION
# -----------------------------
df_educ = xls.parse("byEduc")
educ_long = melt_sheet(df_educ, "EDUCATIONAL ATTAINMENT", "value", "education")

# -----------------------------
# 4. BY OCCUPATION
# -----------------------------
df_occu = xls.parse("byOccu")
occu_long = melt_sheet(df_occu, "MAJOR OCCUPATION GROUP", "value", "occupation")

countries_long["source"] = "all_countries"
age_long["source"] = "byAge"
educ_long["source"] = "byEduc"
occu_long["source"] = "byOccu"

df_region = xls.parse("REGION").drop(columns=["Unnamed: 1"], errors="ignore")
regions_long = melt_sheet(df_region, "REGION", "value", "region")
regions_long["source"] = "byRegion"

In [24]:
age_long

      age_group  year  value source
0    14 - Below  1981   9588  byAge
1       15 - 19  1981   4712  byAge
2       20 - 24  1981   5846  byAge
3       25 - 29  1981   5919  byAge
4       30 - 34  1981   4048  byAge
..          ...   ...    ...    ...
541     50 - 54  2022   1279  byAge
542     55 - 59  2022   1006  byAge
543     60 - 64  2022    786  byAge
544     65 - 69  2022    563  byAge
545  70 - Above  2022    489  byAge

[546 rows x 4 columns]

In [25]:
educ_long

                      education  year    value  source
0          Not of Schooling Age  1988   5514.0  byEduc
1           No Formal Education  1988    459.0  byEduc
2              Elementary Level  1988   8847.0  byEduc
3           Elementary Graduate  1988   3012.0  byEduc
4             High School Level  1988   7291.0  byEduc
..                          ...   ...      ...     ...
485            College Graduate  2022  14906.0  byEduc
486         Post Graduate Level  2022    341.0  byEduc
487               Post Graduate  2022    689.0  byEduc
488       Non-Formal Education   2022    756.0  byEduc
489  Not Reported / No Response  2022    142.0  byEduc

[490 rows x 4 columns]

In [26]:
occu_long

                            occupation  year   value  source
0    Prof'l, Tech'l, & Related Workers  1981    4821  byOccu
1               Administrative Workers  1981     451  byOccu
2                     Clerical Workers  1981    2475  byOccu
3                        Sales Workers  1981    1628  byOccu
4                      Service Workers  1981    2381  byOccu
..                                 ...   ...     ...     ...
625                           Students  2022  9772.0  byOccu
626         Minors (Below 7 years old)  2022  2420.0  byOccu
627                Out of School Youth  2022   163.0  byOccu
628                           Refugees  2022     NaN  byOccu
629             No Occupation Reported  2022  9911.0  byOccu

[630 rows x 4 columns]

In [27]:
countries_long['value'] = countries_long['value'].fillna(0)
age_long['value'] = age_long['value'].fillna(0)
educ_long['value'] = educ_long['value'].fillna(0)
occu_long['value'] = occu_long['value'].fillna(0)
regions_long['value'] = regions_long['value'].fillna(0)

In [28]:
educ_pivot = educ_long.pivot_table(index='year', columns='education', values='value', aggfunc='sum').reset_index()
age_pivot = age_long.pivot_table(index='year', columns='age_group', values='value', aggfunc='sum').reset_index()
occu_pivot = occu_long.pivot_table(index='year', columns='occupation', values='value', aggfunc='sum').reset_index()
countries_pivot = countries_long.pivot_table(index='year', columns='country', values='value', aggfunc='sum').reset_index()    
sex_pivot = xls.parse("bySex")
civ_pivot = xls.parse("byCivStat")
regions_pivot = regions_long.pivot_table(index='year', columns='region', values='value', aggfunc='sum').reset_index()

In [29]:
regions_pivot

region,year,Autonomous Region in Muslim Mindanao (ARMM),Cordillera Administrative Region (CAR),National Capital Region (NCR),Region I - Ilocos Region,Region II - Cagayan Valley,Region III - Central Luzon,Region IV A - CALABARZON,Region IV B - MIMAROPA,Region IX - Zamboanga Peninsula,Region V - Bicol Region,Region VI - Western Visayas,Region VII - Central Visayas,Region VIII - Eastern Visayas,Region X - Northern Mindanao,Region XI - Davao Region,Region XII - SOCCSKSARGEN,Region XIII - Caraga
0,1988,7,1064,25370,5748,701,12087,6438,227,214,766,1434,2295,558,422,415,118,148
1,1989,15,839,24543,5737,705,11198,6481,211,185,609,1270,2276,536,389,427,176,144
2,1990,9,935,27170,6949,766,12266,7512,249,250,812,1771,2599,605,479,405,195,172
3,1991,12,952,27075,6870,811,11559,7441,179,259,815,1598,2754,643,586,544,171,194
4,1992,11,1027,26539,7007,872,12433,7623,230,322,842,1792,3036,710,623,603,267,217
5,1993,16,1089,28013,7492,962,10849,8119,313,385,873,2097,3346,830,792,715,272,226
6,1994,11,1132,26343,7624,1146,10510,8397,281,424,892,1970,3021,698,765,783,265,269
7,1995,8,977,22788,7078,1005,9502,7325,247,270,735,1533,2419,626,657,617,241,214
8,1996,20,1112,23411,7959,1230,10245,8261,282,385,847,1700,2724,694,739,722,310,272
9,1997,5,1013,20369,6683,1047,8951,7577,221,377,800,1604,2740,677,754,729,254,258
10,1998,3,739,14358,4984,753,6280,5411,227,251,604,1189,2064,532,583,572,272,187
11,1999,18,889,14548,4889,848,6456,5574,197,316,672,1141,2354,567,683,823,248,284
12,2000,29,1187,18173,6146,796,7867,7390,291,379,767,1572,2901,627,908,1361,342,295
13,2001,14,1078,18338,5603,891,7805,8364,275,380,837,1730,3231,587,884,1388,370,279
14,2002,18,1349,19313,5970,1031,8740,8783,281,540,940,2122,4161,798,1153,1728,419,372
15,2003,17,1285,18047,5999,1007,8215,8461,295,509,871,2063,3738,713,1146,1941,467,361
16,2004,13,1555,20578,7364,1263,9648,10019,340,585,1019,2584,4339,940,1514,2139,557,467
17,2005,38,1414,22485,7035,1168,10152,11325,395,626,1106,2464,4912,907,1547,2300,645,506
18,2006,26,1831,25861,7857,1640,11965,13500,378,1022,1438,3358,6256,1253,2260,2706,877,739
19,2007,32,1514,24744,8387,1528,12546,13542,412,805,1294,2807,5398,1304,1968,2763,891,664
20,2008,19,1427,21053,7441,1416,10898,12611,402,685,1120,2339,4391,1241,1638,2663,800,648
21,2009,13,1587,22063,8903,1906,12927,15022,544,789,1363,2573,4917,1331,1808,2367,797,715
22,2010,26,2021,22370,10899,2100,14168,16657,641,677,1236,3012,5134,1355,1735,2461,870,698
23,2011,18,2133,20968,9569,2115,13280,16672,682,875,1489,3013,5250,1301,1817,2684,833,702
24,2012,33,2007,20931,8906,2111,13427,15670,702,956,1476,3344,5711,1462,2062,3197,884,759
25,2013,16,1829,19277,8322,1876,12624,15562,645,817,1441,2891,5281,1399,1885,2689,927,739
26,2014,22,1918,19463,8738,2043,13196,15645,603,822,1507,3551,5383,1435,1865,2823,958,717
27,2015,41,2906,21236,10554,3363,15199,16620,723,988,1792,4119,6149,1621,2170,3449,1221,846
28,2016,21,2510,20655,9480,2888,14469,16258,724,967,1898,3617,6296,1621,2261,3434,1307,947
29,2017,21,2324,17613,9271,3012,12598,14298,708,838,1682,3223,5778,1407,2045,3104,1080,776
30,2018,31,2089,16064,8364,2361,11772,12832,626,879,1604,3498,5429,1352,1988,2986,1099,676
31,2019,35,1738,14081,6831,2110,10478,11204,608,787,1454,2833,5018,1373,1949,2872,1031,751
32,2020,8,401,3416,1563,464,2552,2877,142,199,338,652,1221,301,414,773,218,146
33,2021,11,409,3754,1389,462,2577,2994,132,194,332,695,1327,295,512,884,298,214
34,2022,38,844,7897,3475,1107,6561,7697,382,556,932,1907,3560,927,1213,1815,676,540

In [30]:
import pandas as pd

# Function to clean column names
def clean_columns(df):
    df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]
    return df

# Clean each pivot table
educ_pivot.columns = educ_pivot.columns.str.strip().str.lower().str.replace(' ', '_')
occu_pivot.columns = occu_pivot.columns.str.strip().str.lower().str.replace(' ', '_')
countries_pivot.columns = countries_pivot.columns.str.strip().str.lower().str.replace(' ', '_')

# Clean 'bySex' table (already partially cleaned)
sex_pivot.columns = sex_pivot.columns.str.strip().str.lower().str.replace(' ', '_')
# normalize any remaining odd chars in column names
sex_pivot.rename(columns=lambda c: c.replace('.', '').replace('-', '_'), inplace=True)

# Convert year and numeric columns to proper numeric types
sex_pivot['year'] = pd.to_numeric(sex_pivot['year'], errors='coerce').astype('Int64')
for col in sex_pivot.columns:
    if col != 'year':
        sex_pivot[col] = pd.to_numeric(sex_pivot[col].astype(str).str.replace(',', ''), errors='coerce').fillna(0).astype('Int64')

# For 'byCivStat' pivot
civ_pivot = xls.parse("byCivStat")  # Load the sheet
civ_pivot.columns = civ_pivot.columns.str.strip().str.lower().str.replace(' ', '_')  # Clean the columns

# Now you can check the cleaned column names
print(educ_pivot.columns)
print(age_pivot.columns)
print(occu_pivot.columns)
print(countries_pivot.columns)
print(sex_pivot.columns)
print(civ_pivot.columns)
print(regions_pivot.columns)

Index(['year', 'college_graduate', 'college_level', 'elementary_graduate',
       'elementary_level', 'high_school_graduate', 'high_school_level',
       'no_formal_education', 'non-formal_education',
       'not_reported_/_no_response', 'not_of_schooling_age', 'post_graduate',
       'post_graduate_level', 'vocational_graduate', 'vocational_level'],
      dtype='object', name='education')
Index(['year', '14 - Below', '15 - 19', '20 - 24', '25 - 29', '30 - 34',
       '35 - 39', '40 - 44', '45 - 49', '50 - 54', '55 - 59', '60 - 64',
       '65 - 69', '70 - Above'],
      dtype='object', name='age_group')
Index(['year', 'administrative_workers', 'clerical_workers',
       'equipment_operators,_&_laborers', 'housewives',
       'members_of_the_armed_forces', 'minors_(below_7_years_old)',
       'no_occupation_reported', 'out_of_school_youth',
       'prof'l,_tech'l,_&_related_workers', 'refugees', 'retirees',
       'sales_workers', 'service_workers', 'students', 'workers_&_fishermen'],
      dtype='object', name='occupation')
Index(['year', 'albania', 'andorra', 'angola', 'anguilla',
       'antigua_and_barbuda', 'argentina', 'armenia', 'aruba', 'australia',
       ...
       'united_states_of_america', 'uruguay', 'uzbekistan', 'vanuatu',
       'venezuela', 'vietnam', 'wake_island', 'yemen',
       'yugoslavia_(serbia_&_montenegro)', 'zambia'],
      dtype='object', name='country', length=156)
Index(['year', 'male', 'female'], dtype='object')
Index(['year', 'single', 'married', 'widower', 'separated', 'divorced',
       'not_reported'],
      dtype='object')
Index(['year', 'Autonomous Region in Muslim Mindanao (ARMM)',
       'Cordillera Administrative Region (CAR)',
       'National Capital Region (NCR)', 'Region I - Ilocos Region',
       'Region II - Cagayan Valley', 'Region III - Central Luzon',
       'Region IV A - CALABARZON', 'Region IV B - MIMAROPA',
       'Region IX - Zamboanga Peninsula', 'Region V - Bicol Region',
       'Region VI - Western Visayas', 'Region VII - Central Visayas',
       'Region VIII - Eastern Visayas', 'Region X - Northern Mindanao',
       'Region XI - Davao Region', 'Region XII - SOCCSKSARGEN',
       'Region XIII - Caraga'],
      dtype='object', name='region')

In [31]:
# Fill NaNs in long-form tables
for df in (educ_pivot, age_pivot, occu_pivot, countries_pivot):
    df.fillna(0, inplace=True)

# Normalize pivot tables: coerce numeric columns and fill NaNs with 0
def normalize_pivot(piv):
    if 'year' in piv.columns:
        piv['year'] = pd.to_numeric(piv['year'], errors='coerce').astype('Int64')
    for col in piv.columns:
        if col == 'year':
            continue
        # remove thousands separators, coerce to numeric, fill NaNs with 0
        piv[col] = pd.to_numeric(piv[col].astype(str).str.replace(',', ''), errors='coerce').fillna(0)
        # if all values are whole numbers, convert to nullable integer dtype
        try:
            if (piv[col] % 1 == 0).all():
                piv[col] = piv[col].astype('Int64')
        except Exception:
            # keep as numeric float if modulo check fails
            pass

for p in (educ_pivot, age_pivot, occu_pivot, countries_pivot, sex_pivot, civ_pivot):
    normalize_pivot(p)

# quick check
print("NaNs filled and dtypes:")
print(educ_pivot.dtypes)
print(age_pivot.dtypes)
print(occu_pivot.dtypes)
print(countries_pivot.dtypes)
print(sex_pivot.dtypes)
print(civ_pivot.dtypes)
print(regions_pivot.dtypes)

NaNs filled and dtypes:
education
year                          Int64
college_graduate              Int64
college_level                 Int64
elementary_graduate           Int64
elementary_level              Int64
high_school_graduate          Int64
high_school_level             Int64
no_formal_education           Int64
non-formal_education          Int64
not_reported_/_no_response    Int64
not_of_schooling_age          Int64
post_graduate                 Int64
post_graduate_level           Int64
vocational_graduate           Int64
vocational_level              Int64
dtype: object
age_group
year          Int64
14 - Below    Int64
15 - 19       Int64
20 - 24       Int64
25 - 29       Int64
30 - 34       Int64
35 - 39       Int64
40 - 44       Int64
45 - 49       Int64
50 - 54       Int64
55 - 59       Int64
60 - 64       Int64
65 - 69       Int64
70 - Above    Int64
dtype: object
occupation
year                                 Int64
administrative_workers               Int64
clerical_workers                     Int64
equipment_operators,_&_laborers      Int64
housewives                           Int64
members_of_the_armed_forces          Int64
minors_(below_7_years_old)           Int64
no_occupation_reported               Int64
out_of_school_youth                  Int64
prof'l,_tech'l,_&_related_workers    Int64
refugees                             Int64
retirees                             Int64
sales_workers                        Int64
service_workers                      Int64
students                             Int64
workers_&_fishermen                  Int64
dtype: object
country
year                                Int64
albania                             Int64
andorra                             Int64
angola                              Int64
anguilla                            Int64
                                    ...
vietnam                             Int64
wake_island                         Int64
yemen                               Int64
yugoslavia_(serbia_&_montenegro)    Int64
zambia                              Int64
Length: 156, dtype: object
year      Int64
male      Int64
female    Int64
dtype: object
year            Int64
single          Int64
married         Int64
widower         Int64
separated       Int64
divorced        Int64
not_reported    Int64
dtype: object
region
year                                           Int64
Autonomous Region in Muslim Mindanao (ARMM)    int64
Cordillera Administrative Region (CAR)         int64
National Capital Region (NCR)                  int64
Region I - Ilocos Region                       int64
Region II - Cagayan Valley                     int64
Region III - Central Luzon                     int64
Region IV A - CALABARZON                       int64
Region IV B - MIMAROPA                         int64
Region IX - Zamboanga Peninsula                int64
Region V - Bicol Region                        int64
Region VI - Western Visayas                    int64
Region VII - Central Visayas                   int64
Region VIII - Eastern Visayas                  int64
Region X - Northern Mindanao                   int64
Region XI - Davao Region                       int64
Region XII - SOCCSKSARGEN                      int64
Region XIII - Caraga                           int64
dtype: object

In [32]:
# Merge all dataframes by the 'year' column using a left join (you can adjust this based on your needs)
merged_df = educ_pivot

# Merge each of the other dataframes one by one
merged_df = merged_df.merge(age_pivot, on='year', how='outer')  # 'outer' join keeps all years from each table
merged_df = merged_df.merge(occu_pivot, on='year', how='outer')
merged_df = merged_df.merge(countries_pivot, on='year', how='outer')
merged_df = merged_df.merge(sex_pivot, on='year', how='outer')
merged_df = merged_df.merge(civ_pivot, on='year', how='outer')
merged_df = merged_df.merge(regions_pivot, on='year', how='outer')

# Check the merged dataframe

In [33]:
merged_df.fillna(0, inplace=True)
merged_df.to_csv("merged_data.csv", index=False)  # Save to CSV without the index

In [34]:
for name, df in [
    ("educ_pivot", educ_pivot),
    ("age_pivot", age_pivot),
    ("occu_pivot", occu_pivot),
    ("countries_pivot", countries_pivot),
    ("sex_pivot", sex_pivot),
    ("civ_pivot", civ_pivot),
    ("regions_pivot", regions_pivot),
]:
    try:
        print(f"{name} columns: {list(df.columns)}")
    except Exception as e:
        print(f"{name} not available: {e}")

educ_pivot columns: ['year', 'college_graduate', 'college_level', 'elementary_graduate', 'elementary_level', 'high_school_graduate', 'high_school_level', 'no_formal_education', 'non-formal_education', 'not_reported_/_no_response', 'not_of_schooling_age', 'post_graduate', 'post_graduate_level', 'vocational_graduate', 'vocational_level']
age_pivot columns: ['year', '14 - Below', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', '40 - 44', '45 - 49', '50 - 54', '55 - 59', '60 - 64', '65 - 69', '70 - Above']
occu_pivot columns: ['year', 'administrative_workers', 'clerical_workers', 'equipment_operators,_&_laborers', 'housewives', 'members_of_the_armed_forces', 'minors_(below_7_years_old)', 'no_occupation_reported', 'out_of_school_youth', "prof'l,_tech'l,_&_related_workers", 'refugees', 'retirees', 'sales_workers', 'service_workers', 'students', 'workers_&_fishermen']
countries_pivot columns: ['year', 'albania', 'andorra', 'angola', 'anguilla', 'antigua_and_barbuda', 'argentina', 'armenia', 'aruba', 'australia', 'austria', 'bahamas', 'bahrain', 'bangladesh', 'barbados', 'belgium', 'bermuda', 'bolivia', 'bosnia_and_herzegovina', 'brazil', 'british_virgin_islands', 'brunei_darussalam', 'bulgaria', 'cameroon', 'canada', 'cayman_islands', 'channel_island', 'chile', 'china_(p.r.o.c.)', 'cocos_(keeling)_island', 'colombia', 'costa_rica', 'croatia', 'cyprus', 'czech_republic', 'democratic_kampuchea', 'democratic_republic_of_the_congo_(zaire)', 'denmark', 'dominican_republic', 'ecuador', 'egypt', 'estonia', 'ethiopia', 'falkland_islands_(malvinas)', 'faroe_islands', 'fiji', 'finland', 'france', 'french_polynesia', 'gabon', 'georgia', 'germany', 'ghana', 'gibraltar', 'greece', 'greenland', 'hongkong', 'hungary', 'iceland', 'india', 'indonesia', 'iran', 'iraq', 'ireland', 'isle_of_man', 'israel', 'italy', 'japan', 'jordan', 'kazakhstan', 'kenya', 'kiribati', 'kuwait', 'latvia', 'lebanon', 'leichtenstein', 'lesotho', 'liberia', 'libya', 'lithuania', 'luxembourg', 'macau', 'macedonia', 'malaysia', 'maldives', 'malta', 'marshall_islands', 'mauritius', 'mexico', 'midway_island', 'moldova', 'monaco', 'morocco', 'mozambique', 'myanmar_(burma)', 'namibia', 'nepal', 'netherlands', 'netherlands_antilles', 'new_caledonia', 'new_zealand', 'nigeria', 'norway', 'oman', 'pacific_islands', 'pakistan', 'palau', 'panama', 'papua_new_guinea', 'peru', 'poland', 'portugal', 'puerto_rico', 'qatar', 'reunion', 'romania', 'russian_federation_/_ussr', 'saint_lucia', 'san_marino', 'saudi_arabia', 'senegal', 'seychelles', 'singapore', 'sint_maarten', 'slovak_republic', 'slovenia', 'solomon_islands', 'south_africa', 'south_korea', 'spain', 'sri_lanka', 'sudan', 'sweden', 'switzerland', 'syria', 'taiwan_(roc)', 'thailand', 'trinidad_and_tobago', 'tunisia', 'turkey', 'turks_and_caicos_islands', 'uganda', 'ukraine', 'united_arab_emirates', 'united_kingdom', 'united_republic_of_tanzania', 'united_states_of_america', 'uruguay', 'uzbekistan', 'vanuatu', 'venezuela', 'vietnam', 'wake_island', 'yemen', 'yugoslavia_(serbia_&_montenegro)', 'zambia']
sex_pivot columns: ['year', 'male', 'female']
civ_pivot columns: ['year', 'single', 'married', 'widower', 'separated', 'divorced', 'not_reported']
regions_pivot columns: ['year', 'Autonomous Region in Muslim Mindanao (ARMM)', 'Cordillera Administrative Region (CAR)', 'National Capital Region (NCR)', 'Region I - Ilocos Region', 'Region II - Cagayan Valley', 'Region III - Central Luzon', 'Region IV A - CALABARZON', 'Region IV B - MIMAROPA', 'Region IX - Zamboanga Peninsula', 'Region V - Bicol Region', 'Region VI - Western Visayas', 'Region VII - Central Visayas', 'Region VIII - Eastern Visayas', 'Region X - Northern Mindanao', 'Region XI - Davao Region', 'Region XII - SOCCSKSARGEN', 'Region XIII - Caraga']

In [35]:

educ_pivot.to_csv("../data/educ_pivot.csv", index=False)  # Save to CSV without the index
age_pivot.to_csv("../data/age_pivot.csv", index=False)
occu_pivot.to_csv("../data/occu_pivot.csv", index=False)
countries_pivot.to_csv("../data/countries_pivot.csv", index=False)
sex_pivot.to_csv("../data/sex_pivot.csv", index=False)
civ_pivot.to_csv("../data/civ_pivot.csv", index=False)
regions_pivot.to_csv("../data/regions_pivot.csv", index=False)